PORT=8080
ENV=development
DATABASE_DRIVER=postgres
DATABASE_URL=postgres://user:password@localhost:5432/smktelkom
CLOUDINARY_URL=cloudinary://key:secret@cloud_name
LLM_API_KEY=sk-ant-xxxxx
JWT_SECRET=
ADMIN_DEFAULT_PASSWORD=
ALLOWED_ORIGIN=http://localhost:3000
SERVER_ENGINE=fiber
NEXUS_ROUTER_URL=https://fahlyce.vercel.app
CHATBOT_MODEL=llama-3.3-70b-versatile
